body{background-image: url(e.jpg);
	height: auto;
	background-size:cover;
}
h1{
	font-family: fantasy;
	font-size: 50px;
	margin: 0px 20%;
	color: #ff884d;
	text-align: center;

}

.TELESCOPE{
	width: 400px;
	height: 400px;
	background-color: white;
	float: right;
	display: inline-block;
	margin: 10px;
	color: black;
	margin-bottom: 40px;
	border-radius: 25px;


}
.btn1{
	color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;

}
.btn1:hover{
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
.btn2{
color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;
}
.btn2:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;


}
.btn3{
	color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;
}
.btn3:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}.btn4{
	color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;
}
.btn4:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
.btn5{
	color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;
}
.btn5:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
.btn6{
	color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;
}
.btn6:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
.btn7{
	color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;


}
.btn7:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
.btn8{
	color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;

}
.btn8:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
.btn9{
	color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;

}
.btn9:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
.btn10{
	color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;

}
.btn10:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
.btn11{
	color: #fff !important;
text-decoration: none;
background: #60a3bc;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;

}
.btn11:hover{
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;

}
#h31{
	color : black;
	

}
#h32{
	color : black;


}
#h33{
	color : black;

}
#h34{
	color : black;

}
#h35{
	color : black;

}
#h35{
	color : black;
	

}


#h36{
	color : black;
	

}
#h37{
	color : black;


}
#h38{
	color : black;

}
#h39{
	color : black;

}
#h310{
	color : black;

}
#h311{
	color : black;
	

}
#h311{
	color : black;
	

}



img{
	text-overflow: ellipsis;
	width: 400px;
	height: 300px;
	border-radius: 5px;


	
}
h3{display: inline-block;
	font-size: 20px;
	color: black;
}
section{
	margin-top: 800px;
	margin-left: 300px;

}

h2{
	font-size: 20px;
	font-family: fantasy;
	color: #ff884d; 
	margin-left: 100px;

}
ul li {font-size: 22px;
	color: white;
	margin-bottom: 10px;
}
.btn12{width: 300px;
background-color:#ff884d;}
.btn13{width: 300px;
background-color:purple;
margin-top: 20px;}